extends ../layout

block content
  h1= title
  form(action='/user/profile', method='POST')
    p Enter your github user name: 
      input(type='text', name='username')
    p
      input(type='submit')